.top-section {
  display: flex;
  justify-content: center;
  //background-color: white;
  /* height: 60%; */
  /* margin: Auto; */
  margin-bottom: 0%;
  font-family: -Apple-System, BlinkMacSystemFont, Sans-Serif;
  /* overflow: Auto; */
  background: Linear-Gradient(
    315deg,
    Rgba(101, 0, 94, 1) 3%,
    Rgba(60, 132, 206, 1) 38%,
    Rgba(48, 238, 226, 1) 68%,
    Rgba(255, 25, 25, 1) 98%
  );
  animation: Gradient 15s Ease Infinite;
  background-size: 400% 400%;
  background-attachment: Fixed;
  width: 100%;
}

.top-el {
  /* width: 100px; */
  flex: 1 1 auto;
}

.top-el-img {
  /* width: 50%; */
  /* height: 100%; */
  object-fit: cover;
}

.top-img {
  width: 85%;
  height: 85%;
  /* margin-top: 5rem; */
}

.black--text {
  color: black;
}
#exampleInputEmail1 {
  width: 50%;
}

.responsive--font--size--2 {
  /* font-size: 2vw; */
  font-family: "Vazir";
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: "Vazir";
}

@keyframes Gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.Wave {
  background: Rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: Fixed;
  width: 200%;
  height: 12em;
  animation: Wave 10s -3s Linear Infinite;
  transform: Translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: Wave 18s Linear Reverse Infinite;
  opacity: 0.8;
}

.Wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: Wave 20s -1s Reverse Infinite;
  opacity: 0.9;
}

@keyframes Wave {
  2% {
    transform: TranslateX(1);
  }

  25% {
    transform: TranslateX(-25%);
  }

  50% {
    transform: TranslateX(-50%);
  }

  75% {
    transform: TranslateX(-25%);
  }

  100% {
    transform: TranslateX(1);
  }
}
