.top-section {
  display: flex;
  justify-content: center;
  background-color: white;
  height: auto;
}

.top-el {
  /* width: 100px; */
  flex: 1 1 auto;
}

.top-el-2 {
  background: #076585; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #076585, #fff);
  background: linear-gradient(to right, #076585, #fff);
}

.top-el-img {
  /* width: 50%; */
  /* height: 100%; */
  object-fit: cover;
}

.top-img {
  width: 100%;
  height: 100%;
}

.black--text {
  color: black;
}
#exampleInputEmail1 {
  width: 50%;
}

.responsive--font--size--2 {
  /* font-size: 2vw; */
  font-family: 'Vazir';
}

h1, h2, h3, h4, h5, h6, b {
  font-family: 'Vazir';
}

@media (max-width: 900px) {
  .top-el-2 {
    background: #076585;
    background: -webkit-linear-gradient(to top, #076585, #fff);
    background: linear-gradient(to top, #076585, #fff);
  }
}
