.ws_editmodal-label {
  color: #fff;
  font-family: Vazir;
  font-size: 1.5rem;
  display: block;
  margin: 1rem 0;
  font-weight: 600;
  display: inline;
}

.ws_editmodal-main-div {
  width: 100%;
}
.ws_navbar-edit-icon {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
}

.ws_editmodal-inputs {
  display: grid;
}

/* .ws_editmodal-input {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: Vazir;
  direction: rtl;
  margin-bottom: 1rem;
} */

.ws_editmodal-button-div {
  display: flex;
  align-items: center;
}

.edit_workspace-modal-button-29 {
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.edit_workspace-modal-button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.edit_workspace-modal-button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.edit_workspace-modal-button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
