* {
  font-family: "Vazir";
}

#exampleInputEmail1 {
  width: 50%;
}

.responsive--font--size--2 {
  font-size: 2vw;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px rgb(193, 180, 180), 0 0 10px rgb(193, 180, 180),
    0 0 21px rgb(193, 180, 180), 0 0 42px #5271ff, 0 0 82px #5271ff,
    0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

@media (max-width: 900px) {
  .top-el-2 {
    background: #076585;
    background: -webkit-linear-gradient(to top, #076585, #fff);
    background: linear-gradient(to top, #076585, #fff);
  }
}

.text-in-button {
  // color: #000;
  :hover {
    color: #fff;
    // marginLeft: "5%";
  }
}
