.board_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  margin: 1rem;
  gap: 0.5rem;
  // transition: "all 2s ease-in-out"
}

.board_list-container {
  max-width: 100%;
  overflow: scroll;
  max-height: 100%;
  height: 100%;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row;
  direction: ltr;
  justify-content: flex-start;
  gap: 0.5rem;
  scroll-padding-left: calc(100% - 200%);
}
