.boardoverview--container {  
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:  auto 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.4fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "sidebar section section section"
    "sidebar section section section"
    "sidebar section section section";
  direction: rtl;
}

.boardoverview--sidebar { grid-area: sidebar; }

.boardoverview--header { grid-area: header; }

.boardoverview--section { 
  grid-area: section; 
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
