.paragraph {
    color: white;
    font-family: 'Vazir';
    margin-top: 5%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    font-size: 16px;
    // justify-content: center;
}

.unOrderList {
    color: white;
    font-family: 'Vazir';
    margin-top: 5%;
    margin-right: 3%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // z-index: 1;
}

.list {
    color: white;
    font-family: 'Vazir';
    margin-top: 5%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    // justify-content: center;
}

#create-workspace {
    color: #00bfff;
}

#create-workspace:hover {
    color: #E2EDF8;
    background-color: #007fff;
    border-radius: 5px;
}

* {
    font-family: 'Vazir';
}

.text {
    color: white;
    font-family: 'Vazir';
    margin-top: 5%;
    margin-right: 3%;
    font-size: 16px;
}

.add--text {
    color: white;
    font-family: 'Vazir';
    // margin-top: 5%;
    // margin-right: 3%;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.sidebar {
    // display: flex;
    display: "grid";
    justify-content: center;
    align-items: center;
    // gridTemplateColumns: "1fr",
}

.option {
    margin-top: 8%;
    padding: 5%;
    color: white;
    font-family: 'Vazir';
    font-size: large;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    display: flex;
    align-items: center;
    // justify-content: center;
}

.option:hover {
    color: #E2EDF8;
    background-color: #007fff;
    border-radius: 5px;
}

.active {
    color: white;
    background-color: #265D97;
    border-radius: 5px;
}