.profile-container {
  width: 100%;
  height: 120vh;
  display: flex;
  place-items: center;
}

.profile-container-password-page {
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
}

.profile-box {
  width: 50%;
  height: 80%;
  background-color: #001e3c;
  border-radius: 53px;
  padding: 28px 39px;
  font-size: 16.5729px;
  margin-top: -5%;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.col-gap-8 {
  column-gap: 8px;
}
.row-gap-8 {
  row-gap: 8px;
}
.row-gap-16 {
  row-gap: 50px;
}
.profile-box-header img {
  width: 16px;
  height: 16px;
}

.profile-box-body {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.profile-page {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  /* justify-content: space-around; */
  justify-content: center;
}

.profile-box-body-profile-container {
  display: flex;
  column-gap: 16px;
}
.profile-box-body-profile-container img {
  width: 82px;
  height: 82px;
  border-radius: 50px;
}

.w-50 {
  width: 50%;
}

.not-bold {
  font-weight: 400;
  font-size: 100%;
  color: darkgrey;
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 80%;
  background-color: #001e3c;
  border-radius: 53px;
  padding: 28px 39px;
  font-size: 16.5729px;
  margin-top: -5%;
}

.margin-top {
  margin-top: 10%;
}

.justify-content {
  justify-content: space-around;
  width: 100%;
  margin-right: -15%;
}

.avatar-container {
  position: relative;
  /* width: 50%; */
  /* justify-content: center; */
}

.button-container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.avatar-container:hover .button-container {
  opacity: 1;
}
.avatar-container:hover .Avatar {
  opacity: 0.3;
}
@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir.ttf);
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px rgb(193, 180, 180), 0 0 10px rgb(193, 180, 180),
    0 0 21px rgb(193, 180, 180), 0 0 42px #5271ff, 0 0 82px #5271ff,
    0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.title-css {
  color: #8a929c;
  font-size: 13px;
}

.detail.css {
  font-size: 18px;
  /* font-weight: bold; */
}

.navbar-css {
  font-weight: 400;
  font-size: 90%;
  color: #fff;
}

.btn {
  background-color: #001e3c00;
  width: 120%;
  height: auto;
  font-weight: 400;
  font-size: 90%;
  color: #fff;
  border: #001e3c00;
  padding: 5%;
}

.btn:hover {
  background-color: #d4e3d43f;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.flex-row-information {
  display: flex;
  flex-direction: row;
}

.text-information-media {
}

.birthday-media {
}

.show-box {
  row-gap: 7;
  width: 50%;
  border: 1px solid #66b2ff;
  border-radius: 5px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.rmdp-input {
  background-color: #001e3c;
  color: white;
  width: 120%;
  height: 150%;
  text-align: center;
  border-color: #ffffff00 !important;
}

@media screen and (max-width: 600px) {
  .flex-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .avatar-container {
    margin-top: 1% !important;
  }
  .profile-container {
    height: 130vh;
    margin-top: -50px;
  }
  .flex-row-information {
    width: 100px;
    font-size: 10px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: -50px;
  }
  .profile-information {
    width: 100px !important;
  }
  .StyledTextField-media {
    width: 196.5px;
  }
  .birthday-border-media {
    padding-left: 113px;
  }
  .rmdp-input {
    width: 100px;
  }
  .birthday-media {
    width: 100px;
  }
  .show-box-media {
    margin-top: 10px;
    width: 120px;
    height: 55px;
  }
  .email-font-size {
    font-size: 12px;
  }
  .bio-media {
    height: 300px;
  }
}
