.m-5-auto {
  margin: 5rem auto;
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: 0.6rem;
  width: 10rem;
  background: $primary;
  border: none;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}
.Registration--Box-Avatar {
  align-items: center;
  justify-content: center;
}

.Registration--Box {
  margin-top: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.main-para {
  font-size: 2.5rem;
  text-transform: capitalize;
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

h2 {
  font-weight: 300;
}

.Signin--Link {
  font-family: "Vazir" !important;
  font-size: 110% !important;
}

.Registration--LinkToSignin {
  width: 100%;
  font-family: "Vazir" !important;
  font-size: 100% !important;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.Registration--ShowError-type {
  margin-top: 5px !important;
  text-align: right;
  color: rgba(255, 0, 0, 0.837);
  font-weight: bold !important;
  font-family: "Vazir" !important;
  direction: rtl;
}

.Registration--StyledTextField-InputText {
  font-family: "Vazir" !important;
  font-size: 1.3rem !important;
}

.Registration--StyledTextField-inputProps {
  height: 50px !important;
  padding: 0 14px !important;
  font-family: "Vazir" !important;
  font-size: 1.7rem !important;
}

.Registration-form {
  display: inline-block;
  border: 1px solid;
  border-radius: 9px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
  background-color: $minor-bg;
  border-color: none;
}

.EmailVerification--Box {
  margin-top: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10;
  border-radius: 3;
  background-color: $minor-bg;
  border-color: none;
}

.EmailVerification--text {
  font-family: "Vazir" !important;
  font-weight: bold !important;
  padding-top: 45;
  font-size: 19 !important;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

#checkbox {
  width: 1rem;
}

form span {
  font-size: 0.8rem;
}

#reset_pass_lbl {
  float: left;
}

.center_component {
  margin-top: 60px;
}

.margin_bottom {
  margin-bottom: 10px;
}

.Registration--Box-Type {
  text-align: right;
  font-family: "Vazir" !important;
}

.Signin--Box-Type {
  font-family: "Vazir" !important;
  font-size: 150% !important;
  font-weight: bold;
  margin-bottom: 4%;
}

.button_submit {
  border: none;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.remember_checkbox {
  transform: scale(1.4, 1.4);
  width: 100%;
  direction: right;
}

