.workspaceManagement--main {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.workspaceManagement--container {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns:  1fr 18fr;
  direction: rtl;
}

.workspaceManagement--sidebar { grid-column: 1 / 2;  }


.workspaceManagement--section { 
  grid-column: 2 / -1; 
  padding: 1rem;
  width: 100%;
  /*height: 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
