* {
  color: #fff;
}

.mother-div {
  background-color: #001e3c;
  height: 100vh;
  display: flex;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .mother-div {
    display: block;
  }
}
