.add-list-form {
  width: 30rem;
  display: flex;
  align-items: flex-start;
}

.add-form {
  width: 100%;
  background-color: #0a1929;
  border-radius: 1rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-button {
  width: 100%;
  border: none;
  color: white;
  background-color: #0a1929;
  border-radius: 1rem;
}

.form-button:hover {
  background-color: rgba(80, 144, 211, 0.8);
  cursor: pointer;
}