/* .add-list {
  width: 30rem;
  max-height: 3.5rem;
  background-color: #0a1929;
  border: 0.2rem solid #163658;
  border-radius: 1rem;
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.add-list-button {
  width: 30rem;
  max-height: 3.5rem;
  padding: 0.3rem;
  /* border: 0.2rem solid #163658; */
  border: none;
  color: white;
  background-color: #0a1929;
  border-radius: 1rem;
  margin: 0.4rem;
}

.add-list-button:hover {
  background-color: rgba(80, 144, 211, 0.8);
  cursor: pointer;
}