body {
  background-color: #001e3c;
}

.list-container {
  height: 98vh;
  width: fit-content;
  margin-top: 0.6rem;
  overflow: auto;
  display: flex;
  flex: 0 1 auto;
  /* align-items: center; */
}

.list-container-minor {
  display: inline-flex;
  align-items: flex-start;
  flex: 0 1 auto;
  overflow-x: scroll;
}

.list-container-minor:first-child {
  margin-right: 0.6rem;
}

.add-list_button {
  width: 30rem;
  max-height: 3.5rem;
  padding: 0.3rem;
  /* border: 0.2rem solid #163658; */
  border: none;
  color: white;
  background-color: #0a1929;
  border-radius: 1rem;
  margin: 0.4rem;
}

.add-list_button:hover {
  background-color: rgba(80, 144, 211, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 30rem) {
  .list-container {
    height: 99vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    scroll-snap-type: x mandatory;
  }
  .list-container-minor {
    overflow: auto;
    margin-right: 0.6rem;
    display: flex;
  }
}
