.card {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  max-width: 100%;
  height: auto;
  /* background-image: linear-gradient(to right bottom, #91B9E3 0%, #0059b2 130%); */
  background: linear-gradient(
    to right bottom,
    RGB(0, 127, 255),
    RGB(0, 89, 178) 120%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px;
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.title {
  color: white;
  font-size: 1.5em;
  align-self: flex-start;
}

.card-avatar {
  margin-top: 1em;
  align-self: flex-end;
}

.avatar {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}
