p {
  color: white;
}

.list {
  /* max-width: 30em; */
  width: 30em;
  /* max-width: 30em; */
  max-height: fit-content;
  background-color: #0a1929;
  border-radius: 1em;
  margin: 0.4em;
  margin-right: 0.6em;
  overflow: hidden;
  /* border: 0.1em solid #163658; */
  padding: 1em;
}

.header {
  display: flex;
  margin-bottom: 1em;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1em solid #163658;
}

.header-title {
  font-size: 1.8em;
}

.header-button {
  font-size: 1.8em;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: #0a1929;
  border: none;
  display: flex;
  align-items: center;
}

.header-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 001E3C */
  /* background-color: rgba(0,89,178,0.4); */
  border-radius: 0;
  /* border-top: 0.2em solid rgba(80,144,211,0.8); */
  /* border: 0.2em solid #5090D3; */
  cursor: pointer;
  text-align: center;
}

.button-title {
  margin: 0.2em;
  color: white;
}

.card-list {
  max-height: 70vh;
  overflow-y: scroll;
  margin-bottom: 0.4em;
  padding: 0.6em;
}

.space {
  max-width: auto;
  height: 1em;
}

.add-card {
  margin-top: 0.8em;
  border-top: 0.1em solid #163658;
  display: flex;
  justify-content: center;
}

.add-card_button {
  width: 28em;
  background-color: #0a1929;
  color: white;
  border: none;
  border-radius: 1em;
  margin-top: 0.6em;
}

.add-card_button:hover,
.add-card_button:active {
  background-color: rgba(80, 144, 211, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 30em) {
  .list {
    max-height: fit-content;
  }
  .card-list {
    overflow-x: auto;
    max-height: 30em;
  }
}