.calendar--container {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1rem 2rem;
//   --fc-today-bg-color: #007fff33;
//   --fc-neutral-bg-color: #265d97;
//   --fc-neutral-text-color: #cee0f3;
//   --fc-button-bg-color: $minorBg;
//   --fc-button-border-color: $minorBg;
//   --fc-button-hover-bg-color: $hover;
//   --fc-button-hover-border-color: $hover;
//   --fc-button-active-bg-color: $primary;
//   --fc-button-active-border-color: $primary;
//   --fc-border-color: #cee0f3;
}

// .fc-list-day-cushion {
//   // background-color: $minorBg !important;
// }

// .fc-event-title-container {
//   text-align: center;
// }
