.flex {
  display: flex;
}

.muirtl-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.muirtl-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.muirtl-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
}

.calendar_create_meeting-main-div {
  width: 100%;
}
.calendar_create_meeting-inputs {
  display: grid;
}

.calendar_create_meeting-title {
  text-align: center;
  font-family: "Vazir" !important;
  color: #fff;
  font-size: 178% !important;
}

.calendar--CreateMeeting-repeat-inputbox {
  display: grid;
  width: 100%;
  /* height: 20% !important; */
  // align-self: flex-start !important;
  // margin-right: 10% !important;
}

.calendar_create_meeting-custom-type-input {
  display: grid;
  width: 50% !important;
  height: 20% !important;
  align-self: flex-start !important;
  margin-right: 6% !important;
}

.checkbox-wrapper-47 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-47 label {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-flex;
}

.checkbox-wrapper-47 label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #9098a9;
  border-radius: 6px;
  z-index: -1;
}

.checkbox-wrapper-47 input[type="checkbox"]:checked + label {
  padding-left: 1em;
  color: #0f5229;
}
.checkbox-wrapper-47 input[type="checkbox"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #b7e6c9;
  border-color: #2cbc63;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
  transition: 0.25s all ease;
}

.calendar_create_meeting-check-input-label {
  font-family: Vazir;
  color: #fff;
}

.calendar_create_meeting-check-inputs {
  display: flex;
  flex-direction: row;
  column-gap: 15%;
}

// .calendar_create_meeting-check-inputs {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.calendar_create_meeting-button-div {
  display: flex;
  align-items: center;
}

.calendar_create_meeting-button-29 {
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.calendar_create_meeting-button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.calendar_create_meeting-button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.calendar_create_meeting-button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
