.calendar--showMeeting-container--body--time--text {
  font-size: 13px;
  color: white;
}

.calendar--showMeeting-Finished {
  color: red;
  font-size: 14px !important;
  justify-content: center;
  display: flex;
  margin-top: 7% !important;
}
