.board_list-container {
  max-width: 100%;
  margin: 0.4rem;
  overflow: auto;
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 auto;
}

.board_list-container-box {
  max-width: 31rem;
  max-height: 74vh;
  min-height: 74vh;
  /*background-color: red;*/
  padding: 0.4rem 0.5rem;
  margin: 0.4rem 0.4rem 0.4rem 0;
}

body {
  background-color: var(--main-bg);
}
