.card_container {
  min-height: 1rem;
  max-width: 100%;
  background-color: var(--main-item-color);
  border: var(--minor-item-color) solid 0.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /*border: 0.1rem solid var(--mui-blue);*/
}

.card_container:hover {
  cursor: pointer;
  opacity: 90%;
}

.card_container:hover .card_header{
  display: flex;
}

.card_header {
  display: none;
  height: auto;
  color: #fff;
  flex-direction: row-reverse;
  margin-left: 0.4rem;
  padding: 0.4rem;
}

.card_close-icon, .card_edit-icon {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  margin-right: 0.2rem;
  opacity: revert;
}

.card_close-icon:hover, .card_edit-icon:hover {
  cursor: pointer;
  /*opacity: 60%;*/
  background-color: var(--mui-blue);
  border-radius: 0.5rem;
  opacity: revert;
}

.card_body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_cover {
  margin: 0 1rem;
  padding: 0.4rem;
}

.card_title {
  width: 100%;
  margin: 0 1rem 0.2rem;
  padding: 0.4rem;
  font-size: 1.8rem;
  color: #fff;
}

.card_disc {
  direction: rtl;
  text-justify: auto;
  text-align: right;
  color: var(--minor-item-color);
  /*margin: 0 1rem;*/
  margin-top: 0.1rem;
  padding: 0 0.4rem;
  font-size: 1.4rem;
}

.card_label {
  display: flex;
  width: 100%;
  /* margin: 0 1rem 0.2rem; */
  padding: 0.4rem;
}

.card_footer {
  display: flex;
  width: 100%;
  margin: 0.2rem 0.2rem;
  padding: 0.4rem;
  flex-direction: row-reverse;
  align-items: center;
  /* gap: 0.1rem; */
  justify-content: space-between;
}

.card_footer-icon {
  display: flex;
  color: #fff;
  /*font-size: 1.6rem;*/
  gap: 0.5rem;
}

.card_icon-container {
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.card_checklist-finish {
  color: #66bb6a !important;
}

.card_avatar-profile-picture:hover , .card_avatar-profile-picture:last-child:hover {
  opacity: 60%;
}

.card_icon_container {
  position: absolute;
  display: none;
  left: 1%;
  top: 1%;
}

.card:hover .card_icon_container {
  display: flex;
  width: auto;
  /* justify-content: space-between; */
  gap: 0.1rem;
}

.card_default-icon {
  color: var(--minor-item-color);
  font-size: 2rem !important;
  text-align: center;
}

.card_default-footer-icon {
  color: var(--minor-item-color);
  font-size: 2rem !important;
  text-align: center;
}
