// $main-bg: #b5b5a7;
// $minor-bg: #1d1c18;
// $secondry: #c0a939;
// $ternary: #f36507;
// $hover: #f3650780;
// $primary: rgb(204, 185, 12);
// $text: #777;

$main-bg: #001e3c;
$minor-bg: #0a1929;
$secondry: #132f4c;
$ternary: #5090d3;
$hover: #5090d380;
$primary: #1976d2;
$text: #eee;