:root {
  --main-bg: #ffffff00;
  --minor-bg: #ffffff00;
  --secondary: #ffffff00;
  --tertiary: #ffffff00;
  --hover: #ffffff00;
  --primary: #ffffff00;
}

$mainBg: var(--mainBg);
$minorBg: var(--minorBg);
$bg: var(--bg);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$hover: var(--hover);
$primary: var(--primary);

@function fontcolor($color) {
    @if (lightness($color) > 50) {
      @return #2b2f33;
    }
    @else {
      @return #eee;
    }
}