.workspace-modal--modal-header {
  padding: 2px 16px;
  //background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.workspace-modal--modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.workspace-modal--modal-footer {
  padding: 2px 16px;
  //background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.workspace-modal--modal-content {
  position: relative;
  //background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.workspace-modal--board-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.workspace-modal--title-inp {
  color: #000;
  display: block;
}

.workspace-modal--submit-btn {
  color: #000;
}

/* CSS */
.workspace-modal--button-29 {
  margin-top: 1.1rem;
  align-items: center;
  appearance: none;
  // background-image: radial-gradient(
  //   100% 100% at 100% 0,
  //   #5adaff 0,
  //   #5468ff 100%
  // );
  background-color: $tertiary;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.workspace-modal--button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.workspace-modal--button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.workspace-modal--button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.workspace-modal--board-form {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.workspace-modal--add-button {
  height: 8rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: $primary;
  padding: 3% 3%;
  border: 0.2rem solid $tertiary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspace-modal--add-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.workspace-modal--add-button:hover .add-button-title {
  color: #007fff;
}
