.background-blue.rmdp-wrapper,
.background-blue .rmdp-month-picker,
.background-blue .rmdp-year-picker,
.background-blue .rmdp-time-picker div input,
.rmdp-container .background-blue.ep-arrow::after {
  //background-color: #e7471600 !important;
  color: #d7ccc8;
}

.background-blue .rmdp-day:not(.rmdp-deactive),
.background-blue .rmdp-time-picker div .rmdp-am,
.background-blue .rmdp-header-values,
.background-blue .rmdp-panel-header {
  color: #d7ccc8;
}

.background-blue .rmdp-day.rmdp-range {
  color: white;
}

.background-blue .rmdp-panel-body li {
  color: #f5f5f5;
}

.background-blue .rmdp-day.rmdp-deactive,
.background-blue .rmdp-day.rmdp-disabled {
  color: #998580;
}

.rmdp-container .background-blue.ep-arrow[direction="top"] {
  border-bottom: 1px solid #5d403700;
}

.rmdp-container .background-blue.ep-arrow[direction="left"] {
  border-right: 1px solid #5d403700;
}

.rmdp-container .background-blue.ep-arrow[direction="right"] {
  border-left: 1px solid #5d403700;
}

.rmdp-container .background-blue.ep-arrow[direction="bottom"] {
  border-top: 1px solid #5d403700;
}
