.filter-container {
  width: 25rem;
  height: fit-content;
  background-image: linear-gradient(to right bottom, #001e3c 0%, #0059b2 130%);
}

.rmdp-calendar {
  background-image: linear-gradient(to right bottom, #001e3c 0%, #0059b2 130%);
  border-color: #001e3c00;
}
