* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazir", sans-serif;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  margin: 0 auto;
}


html,
.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: $ternary $minor-bg;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  /* scrollbar-width: thin; */
}
::-webkit-scrollbar-thumb {
  /* Foreground */
  background: $ternary !important;
}
::-webkit-scrollbar-track {
  /* Background */
  background: $minor-bg !important;
}
::-webkit-scrollbar-button {
  //background-color: $ternary !important;
  background-size: 0.5rem;
  background-repeat: no-repeat;
  width: auto;
  height: 0.5rem;
  display: block;
  border-style: solid;
}

.MuiTooltip-tooltip {
  //background-color: $minor-bg !important;
  border: 0.2rem solid $ternary;
  color: #fff;
}

.MuiAvatarGroup-root .MuiAvatarGroup-avatar {
  /*//background-color: $ternary) !important;*/
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: center;
  border: 0.2rem solid $ternary !important;
}
