* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazir", sans-serif;
  /* color: #fff !important; */
  /* font-size: rem(16px); */
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
}

/* .m-5-auto {
  margin: 5rem auto;
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: 0.6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}

/***    Landing Page     ***/
/* .main-title,
.main-para {
  color: #f1f1f1;
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.main-para {
  font-size: 2.5rem;
  text-transform: capitalize;
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
} */

/***    Login Page     ***/
/* h2 {
  font-weight: 300;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid none;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}

form label {
  float: left;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.right-label {
  float: right;
  cursor: pointer;
}

input {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all 0.5s;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
} */

/***    Register Page     ***/
/* #checkbox {
  width: 1rem;
}

form span {
  font-size: 0.8rem;
}

#reset_pass_lbl {
  float: left;
} */

/***    Home Page     ***/
/* .home-page-title {
  color: #222;
}

.center_component {
  margin-top: 60px;
}

.margin_bottom {
  margin-bottom: 10px;
}

.google_icon_style {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin-top: "5px";
  padding-top: "5px";
  padding-bottom: "5px";
  background-color: "white";
  border-radius: 2;
}

@font-face {
  font-family: Vazir;
  src: url(./Vazir.woff);
}

@font-face {
  font-family: Nazanin;
  src: url(./BNazanin.ttf);
}

.button_submit {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.remember_checkbox {
  transform: scale(1.4, 1.4);
  width: 100%;
  direction: right;
}

.input_t {
  width: "100%";
  direction: "rtl";
  font-size: "70%";
  font-size: "Vazir";
  background-color: "white";
  color: "black";
  border-radius: "5px";
  border: "1px solid #ced4da";
  padding: "10px";
  margin-bottom: "10px";
  padding-bottom: "5px";
  padding-top: "5px";
}

.input::placeholder {
  font-size: "10%";
  font-size: "Nazanin";
}

.shadow {
  box-shadow: 0px 7px 9px -4px #030000;
} */
