* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazir", sans-serif;
  /* color: #fff !important; */
  /* font-size: rem(16px); */
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
}

:root {
  --main-bg: #001E3C;
  --minor-bg: #0A1929;
  --main-item-color:  #132F4C;
  --minor-item-color: #5090D3;
  --hover-color: #5090D380;
  --mui-blue: #1976d2;
}

.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: var(--minor-item-color) var(--minor-bg);
  scrollbar-width: thin;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 1rem; /* Mostly for vertical scrollbars */
  height: 1rem; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--minor-item-color);
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: var(--minor-bg);
}
