* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazir", sans-serif;
  /* color: #fff !important; */
  /* font-size: rem(16px); */
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
}

:root {
  --main-bg: #001E3C;
  --minor-bg: #0A1929;
  --main-item-color:  #132F4C;
  --minor-item-color: #5090D3;
  --hover-color: #5090D380;
  --mui-blue: #1976d2;
}
