body {
  /* background-color: #0A1929; */
  background: #0A1929;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
