

html {
  height: 100vh;
  width: 100vw;
  background-color: #ffffffff !important;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffffff !important;
}

@font-face {
  font-family: Vazir;
  src: url(./fonts/Vazir.ttf);
}

code {
  font-family: "Vazir";
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Vazir";
}

body , html {
  font-family: 'Vazir';
}