.workspace--my-board,
.workspace--starred-board,
.workspace--recent-board {
  width: 100%;
  height: 100%;
}

.workspace-board-main {
  display: flex;
  gap: 5%;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: center; */
  padding: 1%;
  max-height: 100%;
  height: 100%;
  overflow: scroll;
}

.workspace-board-section {
  height: 100%;
  // max-height: 100%;
  display: flex;
  gap: 5%;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  /* flex-grow: 1; */
  /* margin: 5%; */
  /* padding-top: 6rem; */
  /* overflow: auto; */
}

.workspace--board-header {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.workspace--board-body {
  /* border: 0.2rem solid $tertiary; */
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.workspace--board-body-list {
  margin: 0.5rem;
  /* overflow: auto; */
  /* max-height: 26rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  justify-content: space-between;
  /* gap: 1rem 1rem; */
  row-gap: 3rem;
  justify-items: start;
}

.workspace--add_button {
  height: 8rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: #173a5e;
  padding: 3% 3%;
  border: 0.1rem solid $tertiary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspace--add_button:hover {
  cursor: pointer;
  opacity: 80%;
}

.workspace--add-button:hover .add-button-title {
  color: #007fff;
}

.workspace--board-body-boards {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}